<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="css/footer_styles.css" />
    <title>Footer</title>
</head>
<body>
    <footer class="fixed-bottom text-center text-white" style="background-color: rgba(0, 0, 0, 0.2);">
        <!-- Grid container -->
        <div class="container pt-2 pb-2">
            <!-- Facebook -->
            <a
              class="btn text-white btn-floating m-1"
              href="#!"
              role="button"
              ><i class="fab fa-facebook-f">
                <img src="/images/logo_fb.png" alt="Connect on Facebook" class="footer_logo">
                </i
            ></a>
      
            <!-- Twitter -->
            <a
              class="btn text-white btn-floating m-1"
              href="#!"
              role="button"
              ><i class="fab fa-twitter">
                <img src="/images/logo_twitter.webp" alt="Connect on Twitter" class="footer_logo">
                </i
            ></a>
      
            <!-- Google -->
            <a
              class="btn text-white btn-floating m-1"
              href="#!"
              role="button"
              ><i class="fab fa-google">
                <img src="/images/logo_gmail.png" alt="Send an Email" class="footer_logo">
                </i
            ></a>
      
            <!-- Instagram -->
            <a
              class="btn text-white btn-floating m-1"
              href="#!"
              role="button"
              ><i class="fab fa-instagram">
              <img src="/images/logo_insta.webp" alt="Connect on Instagram" class="footer_logo"></i
            ></a>
      
            <!-- Linkedin -->
            <a
              class="btn text-white btn-floating m-1"
              href="#!"
              role="button"
              ><i class="fab fa-linkedin-in">
                <img src="/images/logo_linkedin.png" alt="Connect on Linkedin" class="footer_logo">
                </i
            ></a>
            <!-- Github -->
            <a
              class="btn text-white btn-floating m-1"
              href="#!"
              role="button"
              ><i class="fab fa-github">
                <img src="/images/logo_github.png" alt="Checkout My Github" class="footer_logo">
                </i
            ></a>
        </div>
        <!-- Grid container -->
      
      </footer>
</body>
</html>