<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Website Logo Favicon -->
    <link rel="icon" type="image/png" href="images/Website_logo_favicon.png">

    <title>Meet Sukant</title>
</head>
<body>
    <%- include('navbar_template.ejs') %>

    <%- include('footer_template.ejs') %>


</body>
</html>