<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tech Blog 101</title>
</head>
<body>
    <h1>Hello Coders</h1>
    <h2>This Site is developed by <%= developer_name  %></h2>
</body>
</html>